@model InspisPipe.Models.BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" />

    
    <link href="/images/favicon_csi.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {




            var ofs = $("#divWrapperBody").offset();
            var hei = $("#divWrapperBody").height();

            var hh = -50 + (window.innerHeight - hei) / 2;

            //$("#divWrapperBody").css("margin-top", hh + "px");


        });
    </script>

    @RenderSection("scripts", required: false)
</head>
<body>

    <div id="divWrapperBody">
        <div id="divBodyGradient">
            <div id="divLoginHeader">
                <img id="imgLoginHeader" src="~/Content/Images/logo_login_csi.png" />
            </div>
            <div class="header-bar">
                <div class="header-bar-text"><span id="lblApplication">Systém pro sběr a vyhodnocení dat</span></div>
            </div>


            <div class="row" style="margin-left:1px;margin-top:20px;">
                <div class="col-sm-auto col-md-auto" id="divWrapperContent">
                    @RenderBody()

                    @if (Model.Messages != null && Model.Messages.Count() > 0)
                    {

                        <a href="#" id="messages1"></a>
                        foreach (var c in Model.Messages)
                        {

                            @Html.Partial("_Message", c)
                        }
                    }

                    
                </div>
                <div class="col-sm-auto col-md-auto login-menu">
                    @if (Model.MainButtons != null && Model.MainButtons.Count() > 0)
                    {
                        

                        <ul style="padding:0px;margin:0px;">

                            @foreach (var c in Model.MainButtons)
                            
                                {
                                <li>
                                    @Html.Partial("_MainButton", c)
                                </li>
                                }
                            

                        </ul>
                    }
                </div>
            </div>







            <div class="bottom-bar-wrapper">
                <div class="bottom-bar">
                    <div class="bottom-bar-first-item"><a href="http://www.csicr.cz"><b>Česká školní inspekce</b><br />www.csicr.cz</a></div>

                    <div class="bottom-bar-logo"><img id="imgRightBottom" src="~/Content/Images/login-inverzni-small.png" alt="CSI" /></div>
                </div>

            </div>
        </div>
    </div>


</body>







</html>
