@model InspisPipe.Models.LoginViewModel

@{

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    

}




<h4 class="login_nadpis_prihlaseni">
    Přihlášení do systému
</h4>
<form id="form1" asp-controller="Login" asp-action="Index" method="POST">
    @Html.HiddenFor(model => model.SourceUrl)
    <div class="row">
        <div class="col-sm-2 col-md-3">
            Uživatelské jméno:
        </div>
        <div class="col-sm-3 col-md-4">

            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-2 col-md-3">
            Heslo:
        </div>
        <div class="col-sm-3 col-md-4">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-2 col-md-3">

        </div>
        <div class="col-sm-3 col-md-4">
            <button type="submit" id="cmdSubmit" class="btn btn-primary">Přihlásit se</button>
        </div>
    </div>

    

    @Html.HiddenFor(model => model.Browser_AvailWidth)
    @Html.HiddenFor(model => model.Browser_AvailHeight)
    @Html.HiddenFor(model => model.Browser_InnerWidth)
    @Html.HiddenFor(model => model.Browser_InnerHeight)
    @Html.HiddenFor(model => model.Browser_UserAgent)
    @Html.HiddenFor(model => model.Browser_DeviceType)
    @Html.HiddenFor(model => model.Browser_Host)
    
</form>



<script type="text/javascript">

    $(document).ready(function () {

        $("#Browser_UserAgent").val(navigator.userAgent);
        $("#Browser_AvailWidth").val(screen.availWidth);
        $("#Browser_AvailHeight").val(screen.availHeight);
        $("#Browser_InnerWidth").val(window.innerWidth);
        $("#Browser_InnerHeight").val(window.innerHeight);
        $("#Browser_Host").val(location.host);

        var devicetype = "Desktop";
        if (screen.availHeight > screen.availWidth || screen.width < 800 || screen.height < 600) {   //mobilní zařízení výšku vyšší než šířku
            devicetype = "Phone";
        }
        $("#Browser_DeviceType").val(devicetype);



        var prevurl = document.referrer;
        if (prevurl != null && prevurl != "") {
            //alert("document.referrer: " + prevurl);
            
        }

    });
</script>